<form>
    <div class="form-group">
      <label class="control-label">Old password:</label>
      <input type="password" class="form-control" name="old_password" id="cpw-old-password"
        value="<%= data.old_password %>">
    </div>
    <div class="form-group">
      <label class="control-label">New password:</label>
      <input type="password" class="form-control" name="new_password" id="cpw-new-password"
        value="<%= data.new_password %>">
      <label class="control-label">Enter new password again:</label>
      <input type="password" class="form-control" name="new_password_check" id="cpw-new-password-check"
        value="<%= data.new_password_check %>">
    </div>

    <button class="btn btn-warning btn-lg js-submit">Change password</button>
</form>

<hr>
<p>View your <a href="/profile" class="js-profile">profile</a>.</p>
<p>Or go <a href="/home" class="js-home">home</a>.</p>
