<form>
    <div class="form-group">
      <label class="control-label">Email:</label>
      <input type="text" class="form-control" name="local_email" id="local-connect-email"
        value="<%= data.local_email %>">
      <label class="control-label">Enter it again:</label>
      <input type="text" class="form-control" name="local_email_check" id="local-connect-email-check"
        value="<%= data.local_email_check %>">
    </div>
    <div class="form-group">
      <label>Specify a password here:</label>
      <div class="form-group">
        For best security, use a unique password here
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Password:</label>
      <input type="password" class="form-control" name="local_password" id="local-connect-password"
        value="<%= data.local_password %>">
      <label class="control-label">Enter it again:</label>
      <input type="password" class="form-control" name="local_password_check" id="local-connect-password-check"
        value="<%= data.local_password_check %>">
    </div>
    <button class="btn btn-warning btn-lg js-submit">Add email and password</button>
</form>

<hr>
<p>Or view your <a href="/home" class="js-profile">profile</a>.</p>
