<table class="table">
  <tr>
    <th>Profile field</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Local email</td>
    <td><%= data.local_email %></td>
  </tr>
  <tr>
    <td>Signup date</td>
    <td><%= data.signup_date %></td>
  </tr>
  <tr>
    <td>Facebook email</td>
    <td><%= data.fb_email %></td>
  </tr>
  <tr>
    <td>Facebook name</td>
    <td><%= data.fb_name %></td>
  </tr>
  <tr>
    <td>Twitter username</td>
    <td><%= data.twitter_username %></td>
  </tr>
  <tr>
    <td>Twitter name</td>
    <td><%= data.twitter_name %></td>
  </tr>
  <tr>
    <td>Google name</td>
    <td><%= data.google_name %></td>
  </tr>
  <tr>
    <td>Google email</td>
    <td><%= data.google_email %></td>
  </tr>
</table>
