<div class="container">
  <div class="col-sm-6 col-sm-offset-3">

      <h1>User Profile</h1>

      <table class="table">
        <tr>
          <th>Profile field</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Local email</td>
          <td><%= data.local_email %></td>
        </tr>
        <tr>
          <td>Signup date</td>
          <td><%= data.signup_date %></td>
        </tr>
        <tr>
          <td>Facebook email</td>
          <td><%= data.facebook_email %></td>
        </tr>
        <tr>
          <td>Facebook name</td>
          <td><%= data.facebook_name %></td>
        </tr>
        <tr>
          <td>Twitter username</td>
          <td><%= data.twitter_username %></td>
        </tr>
        <tr>
          <td>Twitter name</td>
          <td><%= data.twitter_name %></td>
        </tr>
      </table>

      <hr>

      <p><a href="/logout" class="js-logout">Logout</a></p>

  </div>
</div>
