<h4>Connect to...</h4>
<% if(!data.email_connected) { %>
  <a class="btn btn-warning js-local-connect" href="<%= data.client_conn_local_path %>">Add Email</a>
<% } else if(data.email_connected  && (data.fb_connected || data.google_connected || data.twitter_connected)) { %>
  <a class="btn btn-warning js-local-disconnect" href="<%= data.client_disc_local_path %>">Remove Email</a>
<% } else { %>
  <a class="btn btn-warning js-local-connect" disabled>Add Email</a>
<% } %>

<% if(!data.fb_connected) { %>
  <a class="btn btn-warning js-fb-connect" href="<%= data.client_conn_fb_path %>">Facebook</a>
<% } else if(data.fb_connected  && (data.email_connected || data.google_connected || data.twitter_connected)) { %>
  <a class="btn btn-warning js-fb-disconnect" href="<%= data.client_disc_fb_path %>">Disconnect Facebook</a>
<% } else { %>
  <a class="btn btn-warning js-fb-disconnect" disabled>Disconnect Facebook</a>
<% } %>

<% if(!data.google_connected) { %>
  <a class="btn btn-warning js-google-connect" href="<%= data.client_conn_google_path %>">Google</a>
<% } else if(data.google_connected  && (data.email_connected || data.fb_connected || data.twitter_connected)) { %>
  <a class="btn btn-warning js-google-disconnect" href="<%= data.client_disc_google_path %>">Disconnect Google</a>
<% } else { %>
  <a class="btn btn-warning js-google-disconnect" disabled>Disconnect Google</a>
<% } %>

<% if(!data.twitter_connected) { %>
  <a class="btn btn-warning js-twitter-connect" href="<%= data.client_conn_twitter_path %>">Twitter</a>
<% } else if(data.twitter_connected  && (data.email_connected || data.fb_connected || data.google_connected)) { %>
  <a class="btn btn-warning js-twitter-disconnect" href="<%= data.client_disc_twitter_path %>">Disconnect Twitter</a>
<% } else { %>
  <a class="btn btn-warning js-twitter-disconnect" disabled>Disconnect Twitter</a>
<% } %>
<hr>
<div>
  <p>
    <a class="js-logout" href="<%= data.client_logout_path %>">Logout</a>
    <a class="js-deactivate" href="<%= data.client_deactivate_path %>">Deactivate</a>
    <% if(data.email_connected) { %>
      or <a class="js-changepassword" href="<%= data.client_changepassword_path %>">Change password</a>
    <% } %>
  </p>
</div>
