<div class="container">
  <div class="col-sm-6 col-sm-offset-3">

      <h1>Sign up</h1>

      <!-- show any messages that come back with authentication -->
      <% if(data.message !== undefined && data.message.length > 0) { %>
          <div class="alert alert-danger"><%= data.message %></div>
      <% } %>

      <!-- LOGIN FORM -->
      <form>
          <div class="form-group">
            <label>New to this app? Sign up below</label>
          </div>
          <div class="form-group">
            <label class="control-label">Email:</label>
            <input type="text" class="form-control" name="email" id="user-signup-email" value="<%= data.email %>">
            <label class="control-label">Enter it again:</label>
            <input type="text" class="form-control" name="email_check" id="user-signup-email-check"
              value="<%= data.email_check %>">
          </div>
          <div class="form-group">
          </div>
          <div class="form-group">
            <label>Protect your account with a password</label>
          </div>
          <div class="form-group">
            <label class="control-label">Password:</label>
            <input type="text" class="form-control" name="password" id="user-signup-password"
              value="<%= data.password %>">
            <label class="control-label">Enter it again:</label>
            <input type="text" class="form-control" name="password_check" id="user-signup-password-check"
              value="<%= data.password_check %>">
          </div>

          <button class="btn btn-warning btn-lg js-submit">Create account</button>
      </form>

      <hr>

      <p>Or go <a href="/home" class="js-home">home</a>.</p>

  </div>
</div>
